<html>
    <head>
        <script src = "{{url_for('static',filename='index.js')}}">
        </script>
        <title>I'm Title</title>
    </head>
    <body>
        <form id="form">
            <select id="username">
                <option value="Bret">1111</option>
                <option value="Antonette">2222</option>
                <option value="Samantha">3333</option>
            </select>
            <button type='submit'>GOGO</button>
        </form>
        <h5 id = "result"></h5>
    </body>
</html>